
@media screen and (max-width:500px){
    .step{
      margin-top: 150px;
    }
    .step-text{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }